body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Color de WhatsApp */
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.whatsapp-button:hover {
    background-color: #128c7e; /* Color de WhatsApp más oscuro */
    animation: vibrate 3s infinite; /* Animación de vibración */
}
@keyframes vibrate {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
    30% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    70% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    90% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


aside {
    flex: 0 0 40%; 
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


main {
    flex: 1; 
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.zones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.zone-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zone-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.zone-card img {
    width: 100%;
    height: 120px;
    object-fit: cover; 
}

.zone-card .content {
    padding: 5px;
    text-align: center;
}

.zone-card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.zone-card p {
    font-size: 0.9rem;
    color: #666;
}

main h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

main p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}
   
.navbar{
    height: 110px;
    z-index: 100
    }
    .nav-item{
    font-size: 18px;
    }
    .navbar-nav .nav-link {
    color: white; 
    position: relative; 
    }
    .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px; 
    background-color: white; 
    transition: width 0.3s ease; 
    text-decoration: none;
    }
    
    .navbar-nav .nav-link:hover::after {
    width: 100%; 
    }   

